<!DOCTYPE html>
<html>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">    

<head>
<title>Private Torrents - Unconvential guide for torrents.</title>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/custom.css">
</head>
<body>
<div class="hero-container"></div>
<div id="navbar">
<nav>
    <ul>
    <li><a>History</a></li>
    <li><a>Wiki</a></li>
    <li><a>Guide</a></li>
    <li style="border-right: 0px;"><a >FAQ</a></li>
    </ul></nav>
    </div>
{{content}}    
</body>
</html>